.profile-card {
    height: 590px;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: -400px;
    padding: 20px;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    display: inline-block;
}

.profile-form-control-plaintext {
    font-size: large;
}

.username-favorite {
    font-size: 28px;
}

.profile-btn {
    font-size: large;
}

.profile-form-control {
    font-size: large;
    width: 300px;
}

/* .profile-form-control-email {
    font-size: large;
    width: 300px;
} */

.profile-title {
    font-size: xx-large;
    margin-top: 10px;
}

.profile-form-group {
    padding: 13px;
}

.thoughtBubble-profile {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    width: 550px;
    position: relative;
    margin: auto;
    left: -300px;
    margin-top: 8px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
}
/* 
.thoughtBubble-profile:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 4.5em;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #eff1f7;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
} */

.favorite-list {
    text-decoration: none;
    text-align: left;
    margin: 15px;
}

ul
{
    list-style-type: none;
}