.Homepage {
  /* put around the vertical center of page */
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
}

.listofquotes {
  margin: 100px;
  margin-top: -90px;
}

.lead {
  margin-top: 30px;
  font-size: x-large;
}

.headline {
  font-size: 37px;
}