.Homepage {
  /* put around the vertical center of page */
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
}

.listofquotes {
  margin: 100px;
  margin-top: -90px;
}

.lead {
  margin-top: 30px;
  margin-bottom: 33px;
  font-size: x-large;
}

.headline {
  font-size: 41px;
}


span {
  padding-right: 4px;
}

.home-btn {
	font-size: 16px;
	margin: 10px;
	color: grey;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  background-color: #9676ff;
  border: 2px solid #9676ff;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
	color: white;
  transition: 0.3s;
}

.home-btn:hover {
	font-size: 16px;
	margin: 10px;
	color: grey;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
	color: white;
  background-color: #7c55ff;
  border: 2px solid #744aff;
}