.AuthorCard-authors {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  padding-bottom: 10px;
  width: 825px;
  height: 120px;
  color: black;
  /* display: flex; */
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 5px;
  font-size: 16.5px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.AuthorCard-authors img {
  width: 50px;
}

.AuthorCard-authors:hover { /* <Card /> that is also <Link /> */
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-title-authors {
  font-size: 2rem;
}