/* .card {
    right: 39%;
    margin-bottom: 10px;
    padding: 15px;
    width: 285px;
    height: 220px;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
} */

.card-list {
    margin-top: 130px;
}

.loading {
    margin: auto;
    margin-top: 30px;
    width: 50%;
} 

/* .thoughtBubble2 {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    width: 285px;
    position: relative;
    margin-left: -105px;
    margin-top: 8px;
    margin-bottom: 5px;
    padding: 30px;
    border-radius: 70px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

.thoughtBubble2:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 4.5em;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #eff1f7;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
} */
.thoughtBubble2 {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    width: 285px;
    position: relative;
    margin-left: -105px;
    margin-top: 8px;
    margin-bottom: 5px;
    padding: 30px;
    border-radius: 70px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

.thoughtBubble2:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 4.5em;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #eff1f7;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

/* https://www.flexboxpatterns.com/mosaic */
