.App {
  text-align: center;
  font-family: 'Quicksand', 'Roboto', 'Playfair Display', sans-serif;
  font-size: 1.5rem;
}

body {
  background: linear-gradient(90deg, rgb(185, 183, 215) 0%, rgb(253, 222, 250) 100%);
  /* background: radial-gradient(circle at 10% 20%, rgb(178, 178, 212) 0%, rgb(253, 222, 249) 79.5%); */
  /* border: solid black 2px; */
  /* height: 800px; */
}
