.login-card {
    margin: auto;
    margin-right: 420px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    padding-bottom: 10px;
    width: 400px;
    height: 270px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.login-btn {
    margin: 20px;
    font-size: 1.6rem;
    position: relative;
    background-color: #017BFE;
    color: white;
    border: none;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
}
.login-btn:hover {
    font-size: 1.5rem;
    position: relative;
    background-color: #017BFE;
    color: white;
    border: none;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

.login-form-control {
    width: 300px;
}

.login-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-right: 360px;
}